block vars
  - var title = ""
mixin title(t)
  - title = t
mixin navSection(name, section)
  if section
    section.navSection(id=name)
      h1= name
      each sec,idx in section
        section.navSubSection(id=idx)
          h1= idx
          ul.navItemList
            each part,idx in sec
              if part.metadata.title
                - var isActive = (page.url == part.url) ? 'active' : ''
                li.navItem(class=isActive)
                  a(href=part.url)= part.metadata.title
if page.metadata['title']
  +title(page.metadata.title)
doctype html
html
  head
    link(href=contents.css['main.sass'].url rel="stylesheet")
    != livereloadScript
    title 
      if title
        | #{title} |#{' '}
      = locals.name
    style
      | svg { max-width: 250px; }
  body
    nav.sidebar
      +navSection("notables", contents.notables)
      +navSection("mechanics", contents.mechanics)
      .spacer &nbsp;
      .logo
        include ../svgs/fate.svg
          
    section.main
      header.banner
        h1= title || locals.name
      section.content
        block content
      footer.footer
        section.left.footer-column
          block left-footer
            // About and contact links here
        section.middle.footer-column
          block middle-footer
            // recent changes?  maybe generated from git checkins?
        section.right.footer-column
          block right-footer
            // quick resource links like to fate srd, poorimpulse, and a few other places
        section.copyright
          p This System Toolkit is licensed under the#{' '}
            a(href="http://www.opengamingfoundation.org/ogl.html") Open Gaming License
          p Fate™ is a trademark of Evil Hat Productions, LLC. The Powered by Fate logo is © Evil Hat Productions, LLC and is used with permission.
